# Compiled files
*.o
*.obj
*.out
*.exe
*.app

# Binaries
tests/*.bin

# Libraries
*.lib
*.dll
*.a
*.so
*.dylib

# Editor and OS
.vscode/
.idea/
.cache/
.DS_tore
*.swp
*~
Thumbs.db
compile_commands.json

